# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea
.idea

#
.DS_Store

# D
silver-ore-test-library
dub.selections.json
silver-ore
.dub

silver-ore.dlangidews
silver-ore.dlangidews.wssettings
silver-ore.settings
